<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <div>
            <span style="font-weight: bold;">Servicios:</span>
            <ul>
                <li *ngFor="let serv of destino.getServicios()" class="li-servicios">
                    <span [ngSwitch]="serv">
                        <span class="oi oi-home" *ngSwitchCase="'Piscina'"></span><span *ngSwitchCase="'Piscina'" class="pl-2">{{serv}}</span>
                        <span class="oi oi-globe" *ngSwitchCase="'Desayuno'"></span><span *ngSwitchCase="'Desayuno'" class="pl-2">{{serv}}</span>
                        <span *ngSwitchDefault>{{serv}}</span>
                    </span>
                </li>
            </ul>
        </div>
        <a href="#" class="btn-card" (click)="seleccionar()">Seleccionar</a>
        <a [routerLink]="['/destino']" class="pl-2">Ver Destino</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable class="oi oi-star float-right star"></span>
        </span>
    </div>
</div>